@import url('https://fonts.googleapis.com/css?family=Dekko');
@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.recipeContainer{
	background-image:url("../../assets/images/recipeBG.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	max-width: 100%;
	overflow-x: hidden;
}

.recipeContainer h2{
	font-family: 'Dekko', cursive;
	font-size: 45px;
	color:#fff;
	letter-spacing: 3px;
	text-align: center;
	margin:0 auto;
	padding-bottom:5%;

}

.step1, .step3, .step4{
	padding-top: 15%;
}
/*step1- name your recipe */
.step1  input[type="text"]{
	display: block;
	margin:0 auto;
	border: 0;
	border-bottom: 4px solid #F0B31E;
	outline: 0;
	background:transparent;
	width: 50%;
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 25px;
	text-align: center;
}

.step1{
	padding-bottom: 13%;
}

 /*down icon in recipe form (not availbale )*/
 .fa-chevron-down{
	font-size: 50px;
	color:white;

}

/*step2- Categories */
.step2{
	padding-top:5%;
	padding-bottom:2%;
	padding-left:5%;
	margin:0 auto;
	letter-spacing: 5px;
}


/*step 3 - add ingredient */
.step3{
	padding-bottom: 10%;
}
.Instructions input[type="text"]{
	border: 0;
	border-bottom: 4px solid #F0B31E;
	outline: 0;
	background:transparent;
	width: 60%;
	letter-spacing: 2px;
	margin-bottom: 30px;
	margin-left:  20%;
	font-size: 25px;
	padding:10px;
	font-family: 'Rajdhani';
}

.step3 .step4 .addBtn{
	background-color:#E9C18D;
	padding-top:15px;
	letter-spacing: 2px;
	margin-bottom:20px;
	margin-left:  45%;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Rajdhani';
	border:2px solid #fff;
	width: 20%;
	text-align: center;

}

.step3 .addBtn:hover{
	background-color:#FFE7CF;
}
.Instructions .deleteBtn{
	background-color:#F72349;
	border-radius: 3px;
	padding:10px 20px;
	margin:10px;
	font-size: 15px;
	color:#fff;
	border:2px solid #fff;
}

.Instructions .deleteBtn:hover{
	background-color:#C80D15;
}

.step3 .doneBtn{
	padding: 15px 30px;
	letter-spacing: 2px;
	margin-top: 5%;
	margin-left:  45%;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Rajdhani';
	background-color:#819E5E;
	border:2px solid #fff;
	color:#fff;
	text-align: center;
	border-radius: 5px;
}

.step3 .doneBtn:hover{
	background-color: #6F9852
}

.fa-chevron-down {
	margin-top:4%;
	margin-left:50%;
}

.step3 .step4 {
	padding-top:15%;
	padding-bottom: 15.5%;
	scroll-behavior: smooth;
}

input[type="file"] {
	font-size:20px;
	padding-left:10px;
	font-family: 'Rajdhani';
	color:white;
}

/*step 5- add a thumbnail 8*/
.step5{
	margin-top: 15%;
}
.thumbnailConstraints {
	height: 200px;
	width: 210px;
	display: inline;
}

.step5 .thumbnail{
	margin-left:40%;
	font-size: 40px;
}

/*form submit button */
.recipeContainer input[type="submit"] {
	border: 0;
	padding: 10px 30px;
	margin:10px;
	margin-left:45%;
	border-radius: 3px;
	font-weight: lighter;
	letter-spacing: 1px;
	font-size: 18px;
	cursor: pointer;
	background-color: #F0B31E;
	color: #fff;
	font-weight: 100;
}
