@import url('https://fonts.googleapis.com/css?family=Rajdhani');

body{
	padding:0;
	margin:0;
}

.landingCover{
	background-image:url("../../assets/images/bakers.jpg");
	background-size: cover;
	background-color:#F8F8F8;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin:0;
	height:97vh;
	width: 100%;

}

.categoriesLanding{
	background-color:#F5F5F5;
}

.categoriesLanding h3{
	margin:0;
	padding-top:5%;
 	text-align: center;
 	font-size: 35px;
	 font-family: 'Rajdhani';
	 color:#A1C4C8;
	 letter-spacing: 2px;
}
.categoriesLanding hr{
	border: 0;
	height: 1.5px;
	width: 50%;
	background-image: linear-gradient(to right, #ccc, #A1C4C8, #ccc);
}
.categoriesLanding .step2{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
@media(max-width: 768px){
	.landingCover{
	background-image:url("../../assets/images/BakersMini.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	}
}
