.profile_banner{
	font-family: 'Rajdhani';
	color: #A1C4C8;
	text-align: center;
	letter-spacing: 3px;
	margin-top:10%;
	margin-bottom: 0;
	padding-bottom: 0;
}

.recipe_Box{
	width:20%;
}
.recipe_banner{
	font-family: 'Dekko', cursive;
	color: #B67920;
	letter-spacing: 3px;
	text-align: center;
	height:40px;
	margin-top:5%;

}
.User_dashboard hr{
	border: 0;
	height: 1.5px;
	width: 50%;
	background-image: linear-gradient(to right, #ccc, #A1C4C8, #ccc);
	padding-bottom: 0%
}
