.listofUserRecipes {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	width:300%;
	margin-right:5%;
	margin-top:23%;
}

.recipe_title {
	font-family: 'Rajdhani';
	color:#B67920;;
	text-align: center;
	letter-spacing: 3px;
}

.recipe_ingredients {
	font-family: 'Rajdhani';
	color:#B67920;
	letter-spacing: 2px;
}

a {
	color: inherit;
}

a:hover, a:visited, a:link, a:active {
	text-decoration: none;
}
.listofUserRecipes .recipe_Box {
	width:10%;
	height:350px;
	background: #fff;
	padding: 1rem;
	margin: 15px;
	margin-left:20px;
	border-radius: 5px;
	box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
	text-align: left;
	border:grey solid 2px;
	z-index: 1000000;
}

.listofUserRecipes .recipe_Box:hover {
	background: #f8f8f8;
	cursor: pointer;
}

.listofUserRecipes img {
	width:50%;
	height: 50%;
	margin-left:20%;
	border:4px solid #A1C4C8;
}

.listofUserRecipes li {
	font-size:15px;
	margin-top:0;
}

.listofUserRecipes .recipe_Box {
	overflow:auto;
}

.recipe_Box {
	scroll-behavior: smooth;

}

ul{
	padding-top: 0;
}

.recipe_Box .deleteBtn {
	background-color:#F72349;
	border-radius: 6px;
	padding:5px 10px;
	margin:0px;
	float:right;
	font-size: 15px;
	color:#fff;
	border:2px solid #fff;
	cursor: pointer;
}

.recipe_Box .deleteBtn:hover {
	background-color:#C80D15;
}

.defaultMessage{
	width:15%;
	border:4px solid #A1C4C8;
	margin-left:9%;
	margin-top:2%;
	letter-spacing: 2px;
	border-radius: 10px;
	text-align: center;
	padding: 1%;
	font-family: 'Dekko', cursive;
	font-size: 20px;
	z-index: 100000000;
	background-image:url("../../assets/images/marble.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.defaultMessage a{
	font-family: bold;
	color:#B67920;
}

.defaultMessage a:hover{
	font-family: bold;
	color:#CD853F;
}
