@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.recipes_list{
	background-color:#f8f8f8;
}

 .recipes_list a {
	text-decoration: none;
}

 .recipes_list a:link, a:visited {
	color: black;
}

.listofRecipes{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.category_Title{
	padding:7% 0 2% 0;
	text-align: center;
	letter-spacing: 5px;
	font-family: 'Rajdhani';
	font-size:40px;
	font-weight: 600;
	color:#A1C4C8;
}

.listofRecipes img {
	width: 50%;
	height: 50%;
	margin-left: 25%;
	border:4px solid #A1C4C8;
}

.listofRecipes .recipe_Box{
	width:30%;
	height:350px;
	background: #fff;
	padding: 1rem;
	margin: 15px;
	margin-left:20px;
	border-radius: 5px;
	box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
	text-align: left;
	border:grey solid 2px;
	overflow:auto;
}

.listofRecipes .recipe_Box:hover {
	background: #f8f8f8;
	cursor: pointer;
}

.recipe_title {
	font-family: 'Rajdhani';
	color:#B67920;
	text-align: center;
	letter-spacing: 3px;
}

.recipe_ingredients {
	font-family: 'Rajdhani';
	color:#B67920;
	letter-spacing: 2px;
}

.recipes_list input {
	display: block;
	margin:0 auto;
	border: 0;
	border-bottom:3px solid #9ba9b2;
	outline: 0;
	background:transparent;
	width: 50%;
	font-weight: lighter;
	letter-spacing: 2px;
	font-size: 15px;
	text-align: center;
	margin-bottom:50px;
	padding-top:0;
}

 .recipes_list input:focus {
	border-bottom: 4px solid #A1C4C8;

}

.fa-search {
	font-size: 2rem;
	color: #A1C4C8;
	padding-left:25%;
}
