.Wrapper{
	background-image: url("../../assets/images/Cupcakes.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	width: 100%;
	margin:0;
	padding-top:10%;
	padding-bottom: 15%;
}

@media(max-width: 560px){
	.loginForm{
		width: 125px;
	}
}

.loginForm{
	background-color:#624036;
	text-align: right;
	width: 350px;
	height: 100%;
	margin-left:8%;
	border: 5px solid #F1C89C;
	padding: 8%;
	color: white;
	border-radius: 10px;

}
.loginForm h1{
	letter-spacing: 5px;
	margin-bottom: 40px;
}

.loginForm hr{
    border: 0;
	height: 1.5px;
    width: 100%;
    background-color: #F1C89C;
    margin-bottom: 40px;

}

.labelWrapper{
	font-family: 'Rajdhani';
	font-size: 20px;
	padding-right: 5px;
	letter-spacing: 5px;
}

input.inputsWrapper{
	margin-bottom: 10px;
	margin-left:20px;
	padding:5px 20px;
	border-radius: 5px;
}

.submitButton{
	font-family: 'Rajdhani';
	font-size: 15px;
	padding: 16px 32px;
	left: 2px;
	background-color: #F1C89C;
	margin-left: 15ch;
	border-radius: 5px;
	border:2px solid #3C1F23;
	cursor: pointer;
	letter-spacing: 2px;
}

.submitButton:hover{
  background-color: #EDBF8D;
}

.eachDiv{
	margin-bottom: 10px;
}

.messageBox {
	width: 430px;
	color: red;
	border: none;
	background-color: transparent;
	float:right!important;
	margin: 0 auto;
	padding-bottom: 9px;
}
